<td-layout-nav> 
    <td-layout-card-over cardTitle="Equipamento"  cardWidth="75"  >
        <md-card>      
            <form #myform="ngForm" class="example-form">
                <md-input-container  *ngIf="equipment.id" class="example-full-width">
                    <input mdInput placeholder="ID" disabled [value]="equipment?.id">
                </md-input-container>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td> 
                            <md-input-container class="example-full-width">
                                <input required #equipmentName maxlength="50" name ="name" [(ngModel)]="equipment.name" mdInput placeholder="Nome do equipamento">
                                <md-hint align="end">{{equipmentName.value.length}} / 50</md-hint>
                            </md-input-container>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <md-input-container class="example-full-width">
                                <textarea  required #equipmentDescription maxlength="144" name ="description" [(ngModel)]="equipment.description" mdInput placeholder="Descrição"></textarea>
                                <md-hint align="end">{{equipmentDescription.value.length}} / 144</md-hint>
                            </md-input-container>
                        </td>
                    </tr>
                </table>   
                <br>
                <table>
                    <tr>
                        <td>
                            <md-select class="comboBox" required name ="location" [(ngModel)]="equipment.location" placeholder="Localização">
                                <md-option [value]="null">Nenhum</md-option>
                                <md-option *ngIf="equipment.id && equipment.location != null" [value]="equipment.location">{{ equipment?.location?.codLocation }}</md-option>                                
                                <md-option *ngFor="let location of locations" [value]="location">
                                    {{ location.codLocation }}
                                </md-option>
                            </md-select>
                        </td> 
                    </tr>
                </table>
                <br>
                 <table *ngIf="equipment.id">
                    <tr>
                        <td>
                            <div layout="row" class="comboBox">
                                <md-input-container tdFileDrop
                                                    (fileDrop)="file = $event"
                                                    (click)="fileInput.inputElement.click()"
                                                    (keyup.enter)="fileInput.inputElement.click()"
                                                    (keyup.delete)="fileInput.clear()"
                                                    (keyup.backspace)="fileInput.clear()"
                                                    flex>
                                    <input mdInput
                                        placeholder="Selecione ou araste o arquivo"
                                        [value]="file?.length ? (file?.length + ' file') : file?.name"
                                        [disabled]="disabled"
                                        readonly/>
                                </md-input-container>
                                <button md-icon-button *ngIf="file" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
                                    <md-icon>cancel</md-icon>
                                </button>
                                <td-file-input color="accent" #fileInput name="file" [(ngModel)]="file"  [multiple]="false" [disabled]="disabled">
                                    <md-icon>attach_file</md-icon>
                                    <span >Selecionar...</span>
                                </td-file-input>
                           </div>
                        </td> 
                    </tr>
                </table>
                <br>
                <table>
                    <tr>
                        <td>
                            <md-checkbox class="example-margin" [checked]="equipment.equipment != null" #checkBox >Associar equipamento principal</md-checkbox>
                            <br><br><br>
                             <!--<md-select required *ngIf=checkBox.checked name ="location" [(ngModel)]="location.location" placeholder="Localização">-->
                            <div layout="row" *ngIf="checkBox.checked" class="comboBox">
                            <div >
                                <md-input-container required (click)="openDialog()">                                
                                                           <!--[value]="equipment?.equipment?.name"-->
                                    <input required mdInput readonly [value]="equipment?.equipment?.name" placeholder="Selecionar equipamento principal">                                                                                                     
                                </md-input-container>
                                <button md-icon-button *ngIf="equipment.equipment" (click)="clear()" >
                                    <md-icon>cancel</md-icon>
                                </button>                                
                            </div>
                            <div>
                                <button md-raised-button color="accent" (click)="openDialog()">Selecionar</button>
                            </div>
                            </div>
                        </td> 
                    </tr>
                </table>
                <br>
                <md-divider md-inset></md-divider>
                <md-tab-group *ngIf="equipment.id">
                    <md-tab label="Desassociar/Excluir Sub equipamentos">
                        <md-list>
                            <md-list-item *ngIf="subEquipments?.length == 0">
                                <md-icon md-list-icon>hourglass_empty</md-icon>
                                <h4 md-line>Não possui sub equipamentos</h4>
                            </md-list-item> 
                            <h3 *ngIf="subEquipment" md-subheader>Sub equipamentos</h3>
                            <md-list-item *ngFor="let subEquipment of subEquipments">
                                <md-icon mdTooltip="Sub Equipamento" md-list-icon>android</md-icon> 
                                <h4 md-line>Sub equipamento: {{subEquipment?.name}}</h4>
                                <p md-line> Descrição: {{subEquipment?.description }} </p>                                
                                <button md-icon-button mdTooltip="Excluir" class="button" (click)="openConfirmDelete(subEquipment)" class="text-upper"><md-icon md-list-avatar>delete</md-icon></button> 
                                <button md-icon-button mdTooltip="Desassociar" class="button" (click)="openConfirmDisassociate(subEquipment)" class="text-upper"><md-icon md-list-avatar>do_not_disturb_alt</md-icon></button> 
                                <button md-icon-button mdTooltip="Detalhar" class="button" [routerLink]="['/equipment-detail', subEquipment.id]" class="text-upper"><md-icon md-list-avatar>details</md-icon></button> 
                            </md-list-item>
                        </md-list>
                    </md-tab>
                </md-tab-group>
                <br><br>
                <div class="inset">
                    <button md-raised-button  color="accent" type="submit"class="button" [disabled]="myform.form.invalid" (click)="insertEquipment(equipment)" >Salvar</button>
                    <button md-raised-button  color="accent" routerLink="/equipment" [queryParams]="{page:1}" class="button">Cancelar</button>
                </div>
            </form>
            
     </md-card> 
  </td-layout-card-over>
</td-layout-nav>