<td-layout-nav> 
    <td-layout-card-over cardTitle="Equipamento"  cardWidth="75"  >
        <md-card>      
            <form #myform="ngForm" class="example-form">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="ID" disabled value="#">
                </md-input-container>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td> 
                            <md-input-container class="example-full-width">
                                <input required #equipmentName max="50" name ="name" [(ngModel)]="equipment.name" mdInput placeholder="Nome do equipamento">
                                <md-hint align="end">{{equipmentName.value.length}} / 50</md-hint>
                            </md-input-container>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <md-input-container class="example-full-width">
                                <textarea  required #equipmentDescription max="144" name ="description" [(ngModel)]="equipment.description" mdInput placeholder="Descrição"></textarea>
                                <md-hint align="end">{{equipmentDescription.value.length}} / 144</md-hint>
                            </md-input-container>
                        </td>
                    </tr>
                </table> 
                <br>
                <table>
                    <tr>
                        <td>
                            <md-select name ="location" [(ngModel)]="equipment.location" placeholder="Localização">
                                <md-option [value]="null">Nenhum</md-option>
                                <md-option *ngIf="equipment.id && equipment.location != null" [value]="equipment.location">{{ equipment?.location?.codLocation }}</md-option>                                
                                <md-option required *ngFor="let location of locations" [value]="location">
                                    {{ location.codLocation }}
                                </md-option>
                            </md-select>
                        </td> 
                    </tr>
                </table>
                <br>
                <table>
                    <tr>
                        <td>
                            <md-checkbox class="example-margin" [checked]="equipment.equipment != null" #checkBox >Equipamento principal</md-checkbox>
                            <br><br><br>
                            <md-select required *ngIf="checkBox.checked" name ="equipment" [(ngModel)]="equipment.equipment" placeholder="Equipamento">                            
                                <md-option [value]="null">Nenhum</md-option>
                                <md-option *ngIf="equipment.id && equipment.equipment != null" [value]="equipment.equipment">{{ equipment?.equipment?.name }}</md-option>                                                                
                                <md-option *ngFor="let equipment of equipments" [value]="equipment">
                                    {{ equipment.name }}
                                </md-option>
                            </md-select>
                        </td> 
                    </tr>
                </table>
                <br><br>
                <div class="inset">
                    <button md-raised-button  color="accent" type="submit"class="button" [disabled]="myform.form.invalid" (click)="insertEquipment(equipment)" >Salvar</button>
                    <button md-raised-button  color="accent" [routerLink]="['/equipment']" class="button">Cancelar</button>
                </div>
            </form>
     </md-card> 
  </td-layout-card-over>
</td-layout-nav>