.MDcard {
  position: absolut;
  width: 70%;
  left: 25%;
  top : 200px;
  align-content: center;
}
.center{
    position: relative;
    left: 25%;
}
.inputClass{
    width: 50%;
}
.button{
    left: 20%;
}
.div#textCenter{
    position: relative;
    left: 100%;
}
.md-display-1{
    align:"center";
}