<td-layout-nav> 
    <td-layout-card-over cardTitle="Lista de usuários"  cardWidth="75"  >
        <md-card>      
            <md-card-title layout>
                <md-input-container class="text-sm" flex>
                    <input #textSearch (keyup)="0" mdInput placeholder="Procurar usuários"/>
                    <span mdPrefix><md-icon class="icon">search</md-icon></span>
                </md-input-container>
            </md-card-title>
            <md-list class="pull-top">
                <md-list-item>
                    <md-icon md-list-avatar>account_circle</md-icon>
                    <h3 md-line>Usuários</h3>
                </md-list-item>   
                <ng-template let-item="$implicit" let-i="index" let-last="last" ngFor [ngForOf]="users | filterName: textSearch.value">
                    <a md-list-item>
                        <md-icon md-list-avatar>person</md-icon>
                        <h3 md-line> {{item.name}} {{item.lastName}} </h3>
                        <p md-line> {{item.email}} </p>
                        <span flex></span>
                        <button md-button [routerLink]="['/user-detail', item.id]" ><md-icon md-list-avatar>details</md-icon></button>
                        <button md-button [routerLink]="['/user-edit', item.id]"><md-icon md-list-avatar>edit</md-icon></button>
                        <!-- *ngIf="teste(item)"  (click)="openConfirmDisable(item)" // [checked]=" item.active ? 'true' : 'false' "-->
                        <button md-button (click)="openConfirm($event, item)" ><md-icon md-list-avatar>power_settings_new</md-icon></button>
                    </a>
                    <md-divider *ngIf="!last" md-inset></md-divider>        
              </ng-template>
          </md-list>
          <a md-fab td-sidenav-content color="accent" [routerLink]="['/user-new']" class="botao" style="bottom:20px; position: float; z-index: 1; position: fixed"> 
              <md-icon>add</md-icon>
          </a>
     </md-card> 
  </td-layout-card-over>
</td-layout-nav>



